@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  background: #fff;
}

html.dark,
html.dark body {
  background: #171717;
}

#root {
  min-height: 100vh;
}
